{% block subject %}
    Password Reset Link
{% endblock %}

{% block body_html %}
    {% autoescape false %}
        Here is your password reset link <br />
        <a href="{{ resetLink }}" target="_blank">{{ resetLink }}</a>
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Here is your password reset link <br />
        {{ resetLink }}
    {% endautoescape %}
{% endblock %}