.login {
    .login__box {
        width: 47%;
        margin: 50px auto;
        padding: 20px;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
        -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
        box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    }
    .logo {
        max-width: 100px;
    }
}