@import '../setup/mixins';

.change-password {
  .change-password__box {
    width: 80%;
    padding: 20px;
    margin: 50px auto auto auto;
    @include breakpoint(laptop) {
      width: 45%;
    }

    .logo {
      max-width: 100px;
    }
  }
}