@import '../setup/mixins';

.login {
  .login__box {
    width: 80%;
    margin: 50px auto auto auto;
    @include breakpoint(laptop) {
      width: 40%;
    }

    .logo {
      max-width: 100px;
    }
  }
}