@import "../setup/typography";

.error__404 {
  margin-top: 50px;
  .page__title,
  .page__description {
      font-family: $primary-font;
  }
  .page__title {
      font-size: 40px;
      font-weight: bold;
  }
  .page__description {
      font-size: 24px;
  }
}