@import "setup/normalize.scss";
@import "setup/typography.scss";
@import "setup/variables.scss";
@import "setup/mixins.scss";

@import "basics/base.scss";
@import "basics/layout.scss";
@import "basics/links.scss";
@import "basics/buttons.scss";

body {
  font-family: $primary-font;
  padding-top: 70px;
}

.header {
  .dropdown__setting {
    .dropdown-menu {
      right: 0;
      left: unset;
    }
  }
}